body {
    background-color: whitesmoke;
}

header {
    max-height: 200px;
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 50px;
}

nav li img {
    max-height: 30px;
    max-width: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav li a:hover {
    text-decoration: underline;
}

figure {
    background-color: lightgrey;
}

figure img {
    display: block;
    margin: auto;
}

section {
    background-color: grey;
}

.introductory-text h1, p {
    font-size: 20px;
}

.introductory-text h1 {
    color: purple;
}

footer {
    background-color: purple;
}

.slideshow-container {
    position: relative;
    text-align: center;
    color: white;
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}