/* Sart re-occurring elements */
@import url(reset.css);

:root {
  --gray-primary: #cdcdcd;
  --gray-secondary: #f3f3f3;
  --gray-tertiary: #4a4a4a;
  --purple-primary: #d81159;
  --purple-secondary: #410d4c;
  --blue-primary: #aae1ff;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  background-color: white;
  color: var(--gray-tertiary);
  font-family: OpenSans-Regular;
}

.main-header {
  max-height: 110px;
  justify-content: space-between;
  border-bottom: var(--gray-primary) 1px solid;
  .main-navbar {
    margin: auto;
    display: flex;
    width: 970px;

    .navigation-menu {
      align-items: center;
      padding-top: 25px;
      > li {
        display: inline;
        padding-right: 25px;
        > a {
          text-decoration: none;
          color: var(--gray-tertiary);
          font-size: 18px;
        }

        :hover {
          text-decoration: underline;
        }

        > img {
          max-height: 30px;
          max-width: 30px;
        }
      }

      .dropdown {
        float: right;
        padding-top: 25px;
        > span {
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
        }

        .dropdown-content {
          background-color: #f9f9f9;
          display: none;
          max-width: fit-content;
          padding: 12px 16px;
          border: 1px solid blue;
          > p {
            color: blue;
            font-size: 15px;
          }

          > p:hover {
            cursor: pointer;
            color: white;
            background-color: blue;
          }
        }
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    }

    .logo:hover {
      opacity: 0.75;
    }
  }

  .secondary-navbar {
    display: none;
  }
}

.main-footer {
  background-color: var(--purple-secondary);
  margin-top: 50px;
  height: 225px;
  .footer-block-group {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 175px;
    width: 970px;
    border-bottom: 1px solid white;
    .footer-block {
      color: white;
      margin-top: 50px;
      max-width: fit-content;
      .footer-block-title {
        color: white;
        font-size: 22px;
        text-decoration: none;
      }

      .footer-block-title:hover {
        color: var(--purple-primary);
      }

      > ul {
        margin-top: 10px;
        > li a {
          color: white;
          text-decoration: none;
        }

        > li a:hover {
          color: var(--purple-primary);
          text-decoration: underline;
        }
      }
    }
  }
}

.title-container {
  margin: auto;
  margin-top: 30px;
  width: 970px;
  .title {
    > h1 {
      color: var(--purple-secondary);
      font-size: 46px;
      font-weight: bold;
    }
  }
}

.description-container {
  background-color: var(--gray-secondary);
  margin: auto;
  margin-top: 50px;
  max-width: 970px;
  > p {
    padding: 25px;
    line-height: 25px;
  }
}

.form-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  max-height: fit-content;
  max-width: 970px;
}

@media screen and (max-width: 768px) {
  .main-header {
    background-color: var(--purple-primary);
    display: flex;
    align-items: center;
    max-width: 100%;
    .main-navbar {
      display: none;
    }

    .secondary-navbar {
      display: flex;
      width: 100%;
      .navigation-container {
        max-height: 100%;
        .parent {
          width: 100%;
          .hamburger-menu {
            margin: 25px;
            padding: 10px;
            border: 1px solid white;
            border-radius: 5px;
            > h1 {
              color: white;
              font-size: 39px;
              font-weight: bold;
            }
          }

          .child {
            display: none;
            position: absolute;
            text-align: left;
            width: 100%;
            > li {
              > a {
                padding: 15px;
                display: block;
                font-size: 24px;
                text-decoration: none;
              }

              > a:visited {
                color: inherit;
              }
            }

            .child {
              margin: 0;
              border: none;
            }
          }
        }

        .parent:hover > .child {
          background-color: var(--gray-secondary);
          display: block;
          border: 1px solid var(--gray-primary);
        }
      }

      .navbar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        > h1 {
          color: white;
          font-size: 26px;
          font-weight: bold;
        }

        .logo {
          > img {
            max-height: 120px;
            max-width: 120px;
          }
        }
      }
    }
  }

  main {
    padding: 0 25px 0 25px;
    .title-container {
      max-width: 100%;
    }

    .form-container {
      display: block;
      max-height: fit-content;
    }
  }

  .footer-block-group {
    max-width: 100%;
    .footer-block {
      padding: 0 25px 0 25px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
/* Eind re-occurring elements */

/* Begin index.html */
.slideshow-container {
  background-color: var(--gray-primary);
  margin-bottom: 30px;
  .slideshow-image {
    margin: auto;
    background-image: url("../images/slideshow/paleisbrug.jpg");
    height: 300px;
    max-width: 1280px;
    .slideshow-text {
      margin: 0 auto;
      padding-top: 175px;
      max-width: 970px;
      line-height: 40px;

      > h1 {
        color: white;
        font-size: 42px;
        font-weight: bold;
      }

      > p {
        color: white;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

article {
  .introductory-text {
    background-color: var(--gray-secondary);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    max-height: 300px;
    max-width: 930px;
    > h2 {
      color: var(--purple-primary);
      font-size: 18px;
      margin-bottom: 30px;
    }

    > p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 25px;
    }
  }
}

.slider-header {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  > h1 {
    font-size: 20px;
  }

  .currency-converter {
    order: 2;
    background-color: var(--gray-secondary);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    > a {
      color: var(--purple-secondary);
      font-size: 28px;
      font-weight: bolder;
      text-decoration: none;
    }
  }
}

.slider-container {
  background-color: var(--gray-secondary);
  margin: auto;
  margin-bottom: 30px;
  height: 160px;
  width: 970px;
  .slider-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    > h2 {
      font-size: 20px;
    }
  }

  .slider {
    margin: auto;
    display: flex;
    :hover {
      cursor: pointer;
    }
  }

  .slider input[type="range"] {
    margin: auto;
    width: 900px;
  }

  .value-indicator {
    margin: auto;
    padding-top: 15px;
    max-height: fit-content;
    width: 900px;
    display: flex;
    justify-content: space-between;
    .max-value {
      order: 2;
    }
  }
}

.listing-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
  row-gap: 30px;
  column-gap: 30px;
  .listing {
    background-color: var(--gray-secondary);
    height: 460px;
    max-width: 220px;
    > a {
      text-decoration: none;
    }

    > a:visited {
      color: var(--gray-tertiary);
    }

    .listing-info {
      padding: 15px;
      .listing-location {
        white-space: nowrap;
        > h2 {
          max-height: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 16px;
        }
      }

      .listing-dimensions {
        padding-top: 30px;
        padding-bottom: 75px;
        font-size: 14px;
      }

      .listing-pricing {
        display: flex;
        justify-content: space-between;
        > img {
          max-height: 30px;
          max-width: 30px;
        }

        .listing-price {
          > h2 {
            color: var(--purple-primary);
            font-size: 20px;
          }

          > p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slideshow-container {
    padding: 0;
    .slideshow-image {
      max-width: 100%;
    }

    .slideshow-text {
      padding: 25px;
    }
  }

  .description {
    display: none;
  }

  .slider-container {
    padding: 0 50px 0 50px;
    width: inherit;
    .slider input[type="range"] {
      width: 100%;
    }

    .value-indicator {
      width: inherit;
    }
  }

  .listing-container {
    display: flex;
    justify-content: space-evenly;
    .listing {
      min-width: 300px;
      height: fit-content;
      > img {
        width: 100%;
      }

      .listing-info {
        .listing-location {
          > h2 {
            font-size: 21px;
          }
        }

        .listing-dimensions {
          font-size: 19px;
        }

        .listing-pricing {
          > img {
            max-height: 45px;
            max-width: 45px;
          }

          .listing-price {
            > h2 {
              font-size: 25px;
            }

            > p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
/* Eind index.html */

/* Begin listing.html */
.listing-title-container {
  background-color: var(--gray-secondary);
  .title-background {
    margin: auto;
    background-image: url("../images/slideshow/binnenstad.jpg");
    height: 300px;
    width: 1280px;
    background-repeat: no-repeat;
    .title {
      margin: 0 auto;
      padding-top: 175px;
      max-width: 970px;
      > h1 {
        color: white;
        font-size: 50px;
      }
    }
  }
}

.instruction-container {
  background-color: var(--purple-secondary);
  height: 75px;
  .instruction-wrapper {
    margin: auto;
    padding-top: 15px;
    max-width: 970px;
    p {
      color: white;
      font-size: 18px;

      > a:visited {
        color: inherit;
      }
    }

    .listing-publishing-data {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      max-width: 520px;
    }
  }
}

.listing-visuals-container {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  max-height: 400px;
  max-width: 970px;
  .listing-portrait {
    background-image: url("/images/listing/studentenwoning_onderwijsboulevard_exetieur.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 480px;
    border-radius: 5px;
  }

  .listing-info {
    .listing-price-wrapper {
      background-color: var(--gray-secondary);
      display: flex;
      max-height: 120px;
      width: 460px;
      border-radius: 5px;
      .listing-price {
        background-color: var(--purple-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 300px;
        border-radius: 5px 0 0 5px;
        > h1 {
          color: white;
          font-size: 50px;
        }
      }

      .listing-price-title {
        background-color: var(--gray-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 175px;
        transition: margin-left 0.5s;
        border-radius: 0 5px 5px 0;
        p {
          font-size: 14px;
        }

        .listing-price-breakdown-title {
          width: 150px;
        }

        .listing-price-breakdown {
          display: none;
        }
      }

      .listing-price-title:hover {
        width: 460px;
        margin-left: -300px;
        cursor: pointer;
        .listing-price-breakdown-title {
          display: none;
        }

        .listing-price-breakdown {
          display: block;
          width: 150px;
        }
      }
    }

    .listing-interior {
      background-image: url("/images/listing/studentenwoning_onderwijsboulevard_interieur.jpeg");
      margin-top: 30px;
      height: 250px;
      width: 460px;
      border-radius: 5px;
    }
  }
}

.listing-description-card-container {
  background-color: var(--gray-secondary);
  margin: auto;
  margin-top: 30px;
  max-height: fit-content;
  width: 970px;
  border-radius: 5px;
  .listing-description-card-header {
    background-color: var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 6px 6px 0 0;
    > h2 {
      color: var(--purple-secondary);
      font-size: 24px;
    }
  }

  .listing-description-wrapper {
    padding: 15px;
    .listing-description {
      > p {
        font-size: 14px;
        line-height: 25px;
      }

      > ul {
        list-style: disc;
        margin-top: 15px;
        > p {
          margin-bottom: 30px;
          font-size: 14px;
          font-weight: bold;
        }

        > li {
          margin-left: 30px;
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
}

.apply-button-wrapper {
  background-color: var(--purple-primary);
  margin: auto;
  margin-top: 30px;
  max-height: 150px;
  max-width: 970px;
  border-radius: 5px;
  .apply-button {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 150px;
    max-width: 970px;
    .apply-button-img {
      transition: margin-left 0.5s;
      > img {
        height: 60px;
        width: 60px;
      }
    }

    .apply-button-text {
      margin-left: 15px;
      transition: margin-left 0.5s;
      > h2 {
        color: white;
        font-size: 20px;
      }
    }
  }

  &:hover {
    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s;
    border: 1px solid var(--purple-primary);
    .apply-button-img {
      margin-left: 855px;
    }

    .apply-button-text {
      margin-left: -900px;
      > h2 {
        color: var(--purple-primary);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .listing-title-container {
    .title-background {
      max-width: 100%;
    }
  }

  .instruction-container {
    max-width: 100%;
  }

  .listing-visuals-container {
    display: block;
    max-height: fit-content;
    .listing-portrait {
      min-width: 100%;
      max-width: 100%;
    }

    .listing-info {
      margin-top: 30px;
      .listing-price-wrapper {
        min-width: 100%;
      }

      .listing-interior {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  .listing-description-card-container {
    max-width: 100%;
  }

  .apply-button-wrapper {
    max-width: 100%;
    &:hover {
      .apply-button-img {
        margin-left: 590px;
      }

      .apply-button-text {
        margin-left: -650px;
      }
    }
  }
}
/* Eind listing.html *


/* Begin login.html */
.login-card {
  background-color: var(--gray-secondary);
  max-width: 465px;
  border-radius: 6px 6px 0 0;
  .login-card-header {
    background-color: var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 6px 6px 0 0;
    > h2 {
      color: var(--purple-secondary);
      font-size: 24px;
    }
  }

  .login-form-container {
    padding: 20px;
    > img {
      display: flex;
      margin: auto;
      max-height: 30px;
      max-width: 30px;
    }

    .login-form-desciption {
      margin-top: 30px;
      > h3 {
        font-weight: bold;
      }

      > p {
        margin-bottom: 20px;
      }
    }

    .login-form {
      .username-field {
        display: flex;
        justify-content: space-between;
        > input {
          margin-right: 40px;
          height: 25px;
          width: 220px;
        }
      }

      .password-field {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        > input {
          margin-right: 40px;
          height: 25px;
          width: 220px;
        }
      }

      .remember-me-field {
        margin-top: 15px;
      }

      .login-button {
        margin-top: 50px;
        > input {
          background-color: var(--purple-primary);
          color: white;
          height: 40px;
          width: 125px;
          font-size: 16px;
          border: none;
          border-radius: 10px;
        }

        > input:hover {
          cursor: pointer;
          color: var(--gray-primary);
        }
      }
    }
  }
}

.register-card {
  background-color: var(--gray-secondary);
  max-height: 410px;
  max-width: 465px;
  border-radius: 6px 6px 0 0;
  .register-card-header {
    background-color: var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 6px 6px 0 0;
    > h2 {
      color: var(--purple-secondary);
      font-size: 24px;
    }
  }

  .register-form-container {
    height: 420px;
    padding: 20px;
    > img {
      display: flex;
      margin: auto;
      max-height: 30px;
      max-width: 30px;
    }

    .register-form-description {
      margin-top: 30px;
      > h3 {
        font-weight: bold;
      }

      > p {
        margin-bottom: 20px;
      }
    }

    .register-button {
      margin-top: 50px;
      > input {
        background-color: var(--purple-primary);
        color: white;
        height: 40px;
        width: 125px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
      }

      > input:hover {
        cursor: pointer;
        color: var(--gray-primary);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login-card {
    max-height: fit-content;
    max-width: 100%;
    .username-field,
    .password-field {
      display: flex;
      flex-direction: column;
      > input {
        min-width: 75%; /* Take up full width */
      }
    }
  }

  .register-card {
    margin-top: 30px;
    max-height: fit-content;
    min-width: 100%;
  }
}
/* Eind login.html */

/* Begin about.html */
.faq-section-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 970px;
  .card-header {
    background-color: var(--blue-primary);
    text-align: center;
    padding: 20px;
    > h2 {
      color: var(--purple-secondary);
      font-size: 24px;
    }
  }

  .tips-container {
    background-color: var(--gray-secondary);
    margin-top: 25px;
    height: 530px;
    width: 225px;
    border-radius: 6px 6px 0 0;
    > li {
      padding-bottom: 6px;
      > a {
        line-height: 25px;
      }
    }
  }

  .faq-container {
    padding: 25px;
    margin-left: 15px;
    > ul {
      list-style: square;
      > li a {
        color: var(--gray-tertiary);
        text-decoration: none;
        line-height: 35px;
      }
    }
  }

  .faq-section {
    margin-top: 25px;
    max-width: 710px;
    .search-bar-container {
      background-color: var(--purple-secondary);
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 710px;
      height: 55px;
      border-radius: 5px;
      > img {
        max-height: 30px;
        max-width: 30px;
      }

      .search-bar {
        > input {
          height: 35px;
          width: 500px;
          font-size: 20px;
        }
        > input::placeholder {
          font-size: 20px;
        }
      }

      > input {
        background-color: transparent;
        color: white;
        font-size: 26px;
        border: 1px solid transparent;
      }

      > input:hover {
        cursor: pointer;
        border: 1px solid white;
      }
    }

    .faq-card-container {
      display: flex;
      justify-content: space-between;
      .faq-card {
        background-color: var(--gray-secondary);
        margin-top: 25px;
        height: 450px;
        width: 340px;
        border-radius: 6px 6px 0 0;
      }
    }
  }
}

.more-faq-container {
  background-color: var(--gray-secondary);
  margin: auto;
  margin-top: 25px;
  max-width: 970px;
  .more-faq {
    padding: 20px;
    line-height: 35px;
    > h2 {
      color: var(--purple-primary);
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 768px) {
  .description-container {
    width: 100%;
  }

  .faq-section-container {
    display: block;
    width: 100%;
    .tips-container {
      height: fit-content;
      width: 100%;
    }

    .faq-section {
      min-width: 100%;
      .search-bar-container {
        width: 100%;
        .search-bar {
          width: 55%;
          > input {
            width: 100%;
          }
        }
        > input {
          max-width: 100%;
        }
      }

      .faq-card-container {
        display: flex;
        flex-direction: column;
        .faq-card {
          min-width: 100%;
          height: fit-content;
        }
      }
    }
  }
}
/* Eind about.html */

/* Begin contact.html */
.contact-card {
  background-color: var(--gray-secondary);
  margin: auto;
  width: 500px;
  border-radius: 6px 6px 0 0;
  .contact-card-header {
    background-color: var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 6px 6px 0 0;
    > h2 {
      color: var(--purple-secondary);
      font-size: 24px;
    }
  }

  .contact-form-container {
    padding: 20px;
    > img {
      display: flex;
      margin: auto;
      max-height: 30px;
      max-width: 30px;
    }

    .name-field {
      display: flex;
      justify-content: space-between;
      > input {
        margin-right: 40px;
        height: 25px;
        width: 220px;
      }
    }

    .email-field {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      > input {
        margin-right: 40px;
        height: 25px;
        width: 220px;
      }
    }

    .message-field {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      > textarea {
        margin-right: 40px;
      }
    }

    .contact-me-field {
      margin-top: 15px;
    }

    .contact-button {
      margin-top: 50px;
      > input {
        background-color: var(--purple-primary);
        color: white;
        height: 40px;
        width: 125px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
      }

      > input:hover {
        cursor: pointer;
        color: var(--gray-primary);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-card {
    max-height: fit-content;
    width: 100%;
    .name-field,
    .email-field,
    .message-field {
      display: flex;
      flex-direction: column;
      > input {
        min-width: 93%;
      }
    }
  }
}
/* Eind contact.html */
