body {
    background-color: beige;
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

figure {
    background-color: grey;
}

figure img {
    display: block;
    margin: auto;
}

section {
    background-color: grey;
}

footer {
    background-color: purple;
}